# dependencies
node_modules/
.pnp
.pnp.*

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
*.log*

# ide
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
